<!doctype html>

<html>

    <head>
        <title>Download</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
        <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>

    <body style="padding-top:100px; background-color: #eee;">
        <div style="width:350px" class="container">
            <h2 style="text-align:center"><%= @name %></h2>
            <h4 style="text-align:center"><%= @size %></h4>
            <a class="button btn btn-lg btn-primary btn-block" href="<%=@key%>/download">Download</a>
        </div>
    </body>

</html>
